{
    "presets": [
      "@babel/flow",
      [
        "@babel/env",
        {
          "targets": {
            "esmodules": true
          }
        }
      ]
    ],
    "env": {
      "debug": {
        "sourceMaps": "inline",
        "retainLines": true
      }
    }
  }
  